.picker {
  font-size: 14px;
  font-family: Arial;
  width: 180px;
  color: darkblue;
  height: 40px;
  background-color: #d3d3d3;
  border-radius: 5px;
  border: none;
  outline: none;
  padding: 10px;
  margin-left: 100px;
  margin-top: 10px;
  margin-bottom: 10px;
}
