.sidebar{
  width:240px;
  background-color:#2980B9;
  min-height: 100vh;
  color: #eee;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.img{
  margin:50px 20px 30px 20px;
}

.title{
text-align: center;
}

.hr{
  width: 70%;
  margin: 10px auto;
}

.linklist{
  margin-left: 12px;
  list-style-type: none;
}
