.view-course-titel {
  color: #06468f;
  font-size: 34px;
  font-weight: bold;
  margin-top: 50px;
  margin-left: 39px;
  margin-bottom: 9px;
}

.view-course-line {
  width: 204px;
  border-bottom: 1.5px solid #06468f;
  margin-top: 100px;
  margin-left: 39px;
  margin-bottom: 73px;
}

.view-course {
  margin: 50px 0px 50px 100px;
}

.view-course table {
  width: 125%;
}

.delete-icon {
  color: #333;
  padding: 15px;
}

.no-courses {
  color: #333;
  font-size: 24px;
}
.add-coures-link{
  cursor: pointer;
  color: #06468f;
}