.view-course-titel {
  color: #06468f;
  font-size: 34px;
  font-weight: bold;
  margin-top: 50px;
  margin-left: 50px;
  margin-bottom: 9px;
  width: fit-content;
  border-bottom: 1.5px solid #06468f;

}

.view-course {
  margin: 50px 0px 50px 100px;
}

.view-course table {
  width: 90%;
}

.delete-icon {
  color: #333;
  padding: 10px 15px;
}

.no-courses {
  color: #333;
  font-size: 24px;
}

.add-course-link{
  cursor: pointer;
  color: #06468f;
}
