.courses-title {
  letter-spacing: 1px;
}
.courses {
  min-height: calc(100vh - 177.82px) !important;
  padding: 3rem;
}
.courses-card {
  border: 0.5px solid #eee;
  margin: 2rem;
}

.course-card {
  min-height: 150px;
}
.courses-card-btn {
  width: 200px;
  height: 50px;
  border: 0;
  border-radius: 3px;
  font-size: 16px;
}

.courses-card-box {
  width: 80%;
  margin: 0 auto;
}
