.editstudent {
  margin: 50px;
}

.editstudent-title, .editstudent-contanier, .editstudent-title-border {
  color: #06468F;
}

.editstudent-contanier {
  width: 80%;
  display: flex;
  margin: 50px auto;
}

.editstudent-title-border {
  border-bottom: 2px solid;
}

.editstudent-contanier-center {
  margin: auto 30px;
  width: 4px;
  background-color: #e0e0e0;
  height: 340px;
}

.editstudent-btn {
  border: none;
  background-color: #2980B9;
  margin-top: 36px;
  height: 40px;
  width: 140px;
  margin-left: 210px;
}