.view-course-details-titel {
  color: #06468f;
  font-size: 34px;
  font-weight: bold;
  margin-top: 50px;
  margin-left: 50px;
  margin-bottom: 9px;
  width: fit-content;
  border-bottom: 1.5px solid #06468f;
}

.view-course-details {
  margin: 50px 0px 50px 100px;
}
.view-course-details table {
  width: 90%;
}
