.table {
  margin: 10px auto;
  border-spacing: 0px;
  background: #fff;
  box-shadow: 0 1px 0 0 rgba(22, 29, 37, 0.05);
  font-size: 14px;
  width: 70%;
}

.table-cell {
  border: 1.2px solid white;
  padding: 9px 6px;
  text-align: center;
  border-radius: 5px;
  color: #333;
}

.table-row:nth-child(odd) {
  background-color: #f7f4f4;
}

.table-row:nth-child(even) {
  background-color: #f1f0f0;
}

.table-head {
  background: #D0CFCF;
}

.table-icon {
  color: #333;
  cursor: pointer;
}
