.add-student {
  margin: 50px;
}

.add-student-title, 
.add-student-contanier, 
.add-student-title-border {
  color: #06468F;
}

.add-student-title{
  width: fit-content;
  border-bottom: 2px solid;
}
.add-student-contanier {
  width: 100%;
  display: flex;
  margin: 50px ;
}

.add-student-contanier-center {
  margin: auto 35px;
  width: 2px;
  background-color: #e0e0e0;
  height: 375px;
}

.add-student-btn {
  border: none;
  background-color: #2980B9;
  margin-top: 7px;
  height: 40px;
  width: 100%;
}

.general-input {
  outline: none;
  margin-top: 8px;
  padding-left: 15px;
}

.general-label-input {
  margin: 0 0 15px 0;
}

.add-student-contanier-left,
.add-student-contanier-right {
  width: 42%;
}
