.login {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-logo {
  width: 250px;
  height: 180px;
}

.login-container--label {
  color: #06468f;
  display: flex;
  flex-direction: column;
  padding: 10px;
  font-size: 20px;
}

.login-container--input {
  padding: 15px;
  border: none;
  border-radius: 2px;
  background-color: #f2f2f2;
  margin-top: 10px;
  height: 50px;
  font-size: 18px;
}

.login-btn {
  border: 0;
  width: 80%;
  height: 50px;
  font-size: 26px;
  margin-top: 50px;
}

.mobile-container {
  width: 80%;
}

.login-container--input::-webkit-inner-spin-button,
.login-container--input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
