.sidebar-li-links {
  padding: 7px;
}

.sidebar-ul-li-ul {
  list-style-type: none;
  margin-top: 6px;
}

.sidebar-icon {
  padding-right: 7px;
}

.sidebar-logout {
  cursor: pointer;
  text-decoration: none;
  color: #eee;
}
