.view-student-title {
  color: #06468f;
  font-weight: bold;
  margin: 50px 0 0 50px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-bottom: 1.5px solid #06468f;
}

.view-student {
  width: 100%;
  height: 641px;
}

.search-button {
  font-size: 14px;
  border: none;
  height: 40px;
  background-color: #2980b9;
}

.delete-icon {
  color: #333;
  padding: 10px 15px;
}

.search-button-div input {
  margin: 15px 0 0 50px;
  width: 85%;
  padding-left: 15px;
}

.result {
  display: inline-block;
  color: #676767;
  margin-left: 80px;
  font-size: 22px;
}

.no-student {
  color: #333;
  font-size: 20px;
  margin: 20px 150px;
}

.add-student-link {
  cursor: pointer;
  color: #06468f;
}

.view-student table{
  width: 80%;
  margin: 20px auto;
}
